<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} Listado de Contacto {% endblock titulo %}</title>
</head>
<body>
    {% block cuerpo %}
    <h1>Template de listados</h1>    
    <table border="2">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Opción</th>
            </tr>
        </thead>
        <tbody>
            {% for person in personas %}
                <tr>
                    <td>{{ person.nombre }}</td>
                    <td>{{ person.apellidos }}</td>
                    <td>{{ person.correo }}</td>
                    <td><a href="{% url 'editar_persona' person.id %}">Editar</a> o <a href="{% url 'eliminar_persona' person.id %}">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock cuerpo %}
</body>
</html>